html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
body {
  font-size: 16px;
  line-height: 1.5em; /* 行間 */
  -webkit-size-: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "Arial", "YuGothic", "Yu Gothic", sans-serif;
}
#header {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: #999 0 0 8px 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.centering_parent {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100px;
  padding-left: 200px;
}
#siteTitle {
  position: relative;
  padding: 5px;
  margin: auto 0;
  width: 120px;
  font-size: 25px;
  letter-spacing: 5px;
  text-decoration: none; /* リンクの下線を消す */
  color: #000;
}
#siteTitleEn {
  position: relative;
  padding: 5px;
  margin: auto 0;
  width: 215px;
  font-size: 25px;
  letter-spacing: 3px;
  text-decoration: none; /* リンクの下線を消す */
  color: #000;
}

/* ナビゲーションバー */
input[type="checkbox"] {
  display: none; /* 表示しない処理 */
}
#menu {
  position: fixed;
  top: 0;
  margin: 0;
  width: 200px;
  height: 100%;
  text-align: center;
  background-color: #adafc6;
  padding: 0px;
  z-index: 4;
  /* 画面サイズ1200px以上に変化した時の動き設定 */
  transition: transform 250ms ease-in-out; /* プロパティ名 | 時間 | イージング関数 */
}
#menu ul {
  margin: 100px auto;
  padding: 0;
}
#menu li {
  margin: 0;
  padding: 0;
}
#menu ul::before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #fff 0%,
    #fff 90%,
    #adafc6 90%,
    #adafc6 100%
  );
}
#menu ul li::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #fff 0%,
    #fff 90%,
    #adafc6 90%,
    #adafc6 100%
  );
}
#menu li a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(45deg);
}
#menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 70px;
  width: calc(100% - 20px);
  text-align: left;
  letter-spacing: 2px;
  text-decoration: none; /* リンクの下線を消す */
  text-transform: capitalize;
  font-size: 20.8px;
  font-weight: 500;
  color: #333;
  cursor: pointer; /* カーソルの種類 */
}
/* ホバーされた時のそれぞれの要素変更 */
#menu li a:hover::after {
  transition: 0.25s;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
#menu li a:hover {
  transition: 0.25s;
  background-color: #6d6f86;
  color: #fff;
}
/* 言語切り替えの文字設定 */
.language {
  font-weight: bold;
  color: #333;
}
/* 更新日 */
.updated_at {
  position: absolute;
  top: 30px;
  right: 70px;
  text-align: right;
  margin: 0;
}
/* ページトップにジャンプするボタン */
#pageTop {
  position: absolute;
  top: 0;
  left: 0;
}
#scrolled {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  background-color: #6d6f86;
  border-radius: 50vh;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}
#scrolled p {
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 0;
  top: calc(50% - 6px);
  left: 16px;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(-45deg);
}
/* SNSアイコン */
.snsIcon {
  display: flex;
  justify-content: space-around;
  width: 120px;
  margin: auto;
  padding: 50px 0;
}
.menuSnsIcon {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
}
.snsIconInner {
  margin: 0;
  padding: 0px;
  width: 50px;
  height: 50px;
}
.githubIcon {
  margin: 0;
  padding: 7.5px;
  width: 35px;
  height: 35px;
}
.menuSnsIcon a :hover {
  transition: 0.25s;
  background-color: #fff;
  border-radius: 3px;
}
.snsIcon a :hover {
  border: 1.5px solid #333;
  border-radius: 3px;
}
/* コンテンツ */
#main {
  position: relative;
  top: 0;
  left: 0;
  margin: 100px 0 100px 200px;
  padding: 55px 70px 200px; /* 上 | 左右 | 下 */
}
h1 {
  color: #000;
  font-size: 28.8px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 10px 0 20px;
  letter-spacing: 2px;
}
h1::after {
  content: "";
  display: block;
  border-bottom: solid 2.5px #000;
  position: relative;
  width: 300px;
  margin: 5px auto;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  border-left: solid 4px;
  padding-left: 10px;
  text-align: start;
  position: relative;
  margin: 10px 0px 20px;
  letter-spacing: 2px;
}
ol,
ul {
  padding-bottom: 20px;
  margin: 0 0 0 20px;
}
li {
  padding-bottom: 5px;
}
li:last-child {
  padding-bottom: 15px;
}
/* Homeの写真横に文章を並べるための処理 */
#about {
  display: flex;
  width: 840px;
  margin: 20px auto 0px;
}
.aboutInner {
  margin: 0 auto;
  vertical-align: top;
  padding: 0 10px 0 40px;
}
/* スライドショー設定 */
.slideshow {
  width: 250px; /* スライドショーのサイズ */
  height: 250px;
  margin: 10px;
  overflow: hidden; /* 指定した幅以外を非表示にする */
}
#slideshow_image {
  width: 100%;
  /* opacity: 0;
  transition:all 0.4s ease-in-out;  */
}
/* publicationの文章サイズ */
#biography {
  width: 550px;
}
/* 箇条書きタグ */
#summarize {
  width: 760px;
  margin: 0 auto;
  padding-top: 20px;
}
#summarize li {
  padding-bottom: 30px;
}
#summarize p {
  padding: 0 0 10px 60px;
}
.breake-all {
  word-break: break-all; /* 長いURLを改行する */
}
iframe {
  padding-left: 60px;
  margin: 0 auto;
}
#footer {
  text-align: center;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  width: 100%;
  height: 100px;
}
/* 画面幅が1200px以下の時 */
@media screen and (max-width: 1200px) {
  .centering_parent {
    padding: 0; /* 余白指定 */
  }
  #main {
    margin: 100px auto;
    padding: 55px 50px 30px; /* 上 | 左右 | 下 */
  }
  h1::after {
    width: 60vw;
    max-width: 300px;
  }
  #about {
    width: 90vw;
    max-width: 840px;
  }
  .updated_at {
    right: 50px;
  }
  .slideshow {
    width: clamp(120px, 25vw, 250px); /* スライドショーのサイズ */
    height: clamp(120px, 25vw, 250px);
  }
  #menu {
    transform: translateX(-200px); /* ナビゲーションバーがひっこむ設定 */
    transition: transform 250ms ease-in-out; /* プロパティ名 | 時間 | イージング関数 */
    opacity: 1; /* 透明にする */
  }
  .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateX(-100%); /* ひっこむ設定 */
    transition: transform 150ms ease-in-out; /* プロパティ名 | 時間 | イージング関数 */
    opacity: 0.7; /* 半透明にする */
    z-index: 3;
    display: none;
    cursor: pointer; /* カーソルの種類 */
  }
  /* 折り畳みスイッチ ~#が開く先*/
  input[type="checkbox"]:checked ~ #menu {
    transform: translateX(0); /* X方向に移動（０位置に戻る） */
    opacity: 1; /* 透明度戻す */
  }
  input[type="checkbox"]:checked ~ .menu-background {
    transform: translateX(0); /* X方向に移動（０位置に戻る） */
    display: block;
  }
  input[type="checkbox"] {
    transition: all 0.3s; /* 変化する全てのプロパティへの適用｜時間 */
    box-sizing: border-box; /* 要素に指定した範囲内に納める処理 */
    display: none; /* 表示しない処理 */
  }
  /* アニメーションアイコン */
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
  }
  .sidebarIconSw {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 22px;
    left: 15px;
    height: 35px;
    width: 35px;
  }
  /* アイコンの造形 */
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #333;
  }
  /* アイコン上 */
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  /* アイコン中 */
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  /* アイコン下 */
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  /* 開いた時のアイコン中 */
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0; /* 透明にする */
    background-color: #333;
  }
  /* 開いた時のアイコン上 */
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    background-color: #333;
  }
  /* 開いた時のアイコン下 */
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    background-color: #333;
  }
}

/* 画面幅が900px以下の時 */
@media screen and (max-width: 900px) {
  #main {
    padding-top: 50px;
  }
  #summarize {
    width: 75vw;
  }
  #about {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: 0;
  }
  .aboutInner {
    margin: 0 auto;
    vertical-align: top;
    padding: 0 10px 0 0px;
  }
  .slideshow {
    width: clamp(120px, 40vw, 290px); /* スライドショーのサイズ */
    height: clamp(120px, 40vw, 290px);
  }
  .updated_at {
    position: static;
    text-align: right;
    margin: 0 20px 0px 0;
  }
  #biography {
    width: 70vw;
  }
  iframe {
    max-width: 560px;
    max-height: 315px;
    width: 64vw;
    height: 36vw; /*比率16:9*/
  }
}
/* 画面幅が700px以下の時 */
@media screen and (max-width: 700px) {
  #main {
    margin: 100px auto;
    padding: 50px 4vw 30px;
  }
  .updated_at {
    margin-bottom: 20px;
  }
  ol,
  ul {
    margin: 0;
    padding-left: 20px;
  }
  #summarize p {
    transition: padding 0.2s;
    padding: 0 0 10px 20px;
  }
  iframe {
    padding-left: 20px;
  }
}
/* 画面幅が450px以下の時 */
@media screen and (max-width: 450px) {
  .centering_parent {
    display: flex;
    flex-direction: column;
  }
  #siteTitle {
    margin: 0 auto;
    padding: 3px;
    font-size: 22px;
  }
  #siteTitleEn {
    margin: 0 auto;
    padding: 3px;
    font-size: 22px;
  }
}
