@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Open+Sans:wght@300&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-size: 62.5%; /* 標準 */
  color: #333;
  line-height: 32px;
  font-family: 'Noto Sans JP', sans-serif;
  /* -webkit-size-: 100%; 　要確認*/
  /* font-family: "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "Arial", "YuGothic", "Yu Gothic", sans-serif; */
}
.black {
  color: #333;
}
.center {
  margin: auto 0;
  align-items: center;
}
.boder :hover {
  /* hover下線 */
  transition: 0.25s;
  border-bottom: solid #333 2px;
  box-sizing: content-box;
  margin-bottom: -2px; /*上ズレ防止用*/
}
.weight:hover {
  text-shadow: 0.3px 0.3px #333;
}
#footer {
  top: 0px;
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
}

/* header */
#header {
  top: 0px;
  width: 100%;
  height: 70px;
  position: fixed; /*上に固定*/
  align-items: stretch;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
/* ボックスで左側のスペース保持 */
nav::before {
  content: '';
  box-sizing: border-box;
  width: 50px;
}
nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header .title {
  padding: 0px;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 35px;
  letter-spacing: 2px; /* 文字間 */
  text-decoration: none; /* リンクの下線を消す */
}
#header .titleEn {
  padding: 0 0 0 12px;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 35px;
  letter-spacing: 1px; /* 文字間 */
  text-decoration: none; /* リンクの下線を消す */
}
#menu,
#footerMenu {
  display: flex;
  list-style: none;
}
#menu {
  padding-left: 100px;
}
#menu li {
  position: relative; /* 円形アニメーション位置調整用 */
  width: fit-content;
}
#menu li a {
  /* vertical-align:middle; */
  margin: 0 25px 0 0;
  padding: 0 21px 0 0; /*円形アニメーション分 */
}
.logo {
  line-height: 0; /* logo下の空白を消すための設定※リンクがインライン要素のために現れる */
}
.logo a:nth-child(2) {
  padding: 0 0 0 25.5px;
}
#footerMenu li:not(:last-child) {
  margin: 0 40px 0 0;
}
#menu li a,
#footerMenu li a {
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none; /* リンクの下線を消す */
  text-transform: capitalize;
}
#menu li :hover {
  background-color: #fff;
}
#menu li :hover::after {
  content: '';
  transition: 0.3s;
  position: absolute;
  top: 10px;
  margin: 0 0 0 5px;
  align-items: center;
  width: 15px;
  height: 15px;
  border: solid 0px;
  background-image: radial-gradient(#fff 56%, transparent 65%),
    conic-gradient(#333 0% 90%, #fff 90% 100%);
  border-radius: 50%;
  animation: 2s linear infinite rotation1;
}
/* 円形のアニメーション */
@keyframes rotation1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */
#footer {
  top: 180px;
  position: relative;
  height: 230px;
}
#footerInner {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
}
#footer .title {
  letter-spacing: 2px; /* 文字間 */
}
#footer .title,
#footer .titleEn {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 34px;
  text-decoration: none; /* リンクの下線を消す */
}
#footer .titleEn {
  padding: 0 0 0 12px;
  letter-spacing: 1px; /* 文字間 */
}
#footerMenu {
  padding: 0;
}

/* 更新日 */
.inner {
  display: flex;
  margin: 0 0 30px 0;
}
.updated_at {
  margin: auto 0 0 0;
  padding-left: 40px;
  font-weight: 300;
  font-size: 1.8rem;
}
.summarize ol,
.summarize ul {
  margin: 0;
  padding-bottom: 60px;
}
.summarize li {
  padding-bottom: 30px;
}
/* ページトップにジャンプするボタン */
#pageTop {
  position: absolute;
  top: 0;
  left: 0;
}
#scrolled {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 50vh;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.left {
  position: absolute;
  left: 21.12%;
  right: 45.54%;
  top: 33%;
  bottom: 44.45%;
  background: #f5f5f5;
  border: 1px solid #333333;
  transform: matrix(0.9, -0.5, -0.5, -0.87, 0, 0);
}
.right {
  position: absolute;
  left: 50.02%;
  right: 16.65%;
  top: 33%;
  bottom: 61.11%;
  background: #f5f5f5;
  border: 1px solid #333333;
  transform: matrix(0.9, 0.5, 0.5, -0.87, 0, 0);
}
/* SNSアイコン */
#sns {
  margin-left: auto;
  padding-right: 65px;
  display: flex;
}
#sns p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 34px;
  letter-spacing: 2px;
}
#sns p::after {
  content: '     ';
  width: 1.5rem;
  border: 0.5px solid #333;
  margin: 0 1rem 0 1.75rem;
}
.snsInner {
  display: flex;
}
.iconsize {
  width: 45px;
  height: 45px;
}
.githubIcon {
  padding: 7.5px;
  width: 30px;
  height: 30px;
}
.snsContener:hover img:first-child {
  transition: background-color 0.25s;
  background-color: #333;
  border-radius: 3px;
}
.snsContener img:nth-child(2) {
  position: absolute;
  display: flex;
  top: calc(70px - (70px - ((70px - 45px) / 2)));
}
.snsContener:hover img:nth-child(2) {
  transition: all 0.25s;
  opacity: 0;
}
/* コンテンツ */
#main {
  width: 1000px;
  margin: 0 auto;
  padding-top: 90px;
}
/* Homeの写真横に文章を並べるための処理 */
#about {
  display: flex;
  margin-bottom: -18px;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px;
  height: 100%;
}
.aboutInner {
  margin: 0px;
  width: 575px;
  padding: 0px;
}

h1 {
  margin: 0;
  padding: 0 10px 0px;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 65px;
  font-family: 'Open Sans', sans-serif;
  width: fit-content;
  background: linear-gradient(#fefefe 0% 52%, #dcdcdc 52% 100%);
}
h2:first-child {
  margin-top: 0;
}
h2 {
  margin: 48px 0 16px 0;
  border-left: solid 4px #333;
  padding-left: 10px;
  padding-bottom: 0.3rem;
  font-weight: 500;
  font-size: 2.4rem;
}
#main {
  font-weight: 400;
  font-size: 2rem;
}
.breake-all {
  word-break: break-all; /* 長いURLを改行する */
}
iframe {
  padding-left: 60px;
  margin: 0 auto;
}
/* 画面幅が1100px以下の時 */
@media screen and (max-width: 1100px) {
  #main {
    width: 915px;
  }
  .aboutInner {
    width: 490px;
  }
  nav {
    justify-content: flex-start;
  }
  #sns {
    display: none;
  }
  #footer {
    /* transition: all 0.25s; */
    height: 350px;
  }
  #footerInner {
    flex-direction: column;
    align-items: center;
  }
  #footerInner div:first-child {
    align-items: center;
  }
  #footerMenu {
    justify-content: center;
  }
  .logo {
    margin-top: 55px;
  }
}
/* 画面幅が930px以下の時 */
@media screen and (max-width: 930px) {
  #main {
    width: 660px;
  }
  /* about可変*/
  #about {
    flex-direction: column;
  }
  #about img {
    margin: auto;
    padding-bottom: 27px;
  }
  .aboutInner {
    width: auto;
  }
  nav::before {
    content: '';
    box-sizing: border-box;
    width: 112px;
  }

  /* アニメーションアイコン */
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    top: 22px;
    left: 28px;
    height: 25px;
    width: 30px;
  }
  .sidebarIconSw {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    top: 22px;
    left: 28px;
    height: 25px;
    width: 30px;
  }
  /* アイコンの造形 */
  .spinner {
    transition: all 0.3s;
    border: 1.5px solid #333333;
    position: absolute;
    width: 100%;
  }
  /* アイコン上 */
  .p1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  /* アイコン中 */
  .p2,
  .p3 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 8px;
  }
  /* 開いた時のアイコン中 */
  .openP2 {
    opacity: 0; /* 透明にする */
  }
  /* 開いた時のアイコン上 */
  .openP1 {
    transform: rotate(135deg);
    margin-top: 11px;
    background-color: #333;
  }
  /* 開いた時のアイコン下 */
  .openP3 {
    transform: rotate(-135deg);
    margin-top: -13.5px;
    background-color: #333;
  }
  #header {
    z-index: 500;
  }
  #menu {
    display: none;
  }
  #menu:last-child {
    margin: 0;
  }
  /* メニュー開いた時の仕様 */
  .openMenu {
    display: block !important;
    position: absolute;
    flex-direction: column;
    top: 70px;
    left: 0px;
    margin: auto 0;
    padding: 58px 0 85px 70px;
    height: 100vh;
    /* height: calc(100vh - 70px); */
    width: 100vw;
    background-color: #f5f5f5;
  }
  #menu li {
    margin-bottom: 70px;
    position: relative;
  }
  #menu li a {
    font-size: 3.4rem;
    padding: 0;
  }
  #menu li :hover::after {
    content: '';
    transition: 0.3s;
    position: absolute;
    top: 0px;
    margin: 0 0 0 13px;
    align-items: center;
    width: 27px;
    height: 27px;
    border: solid 0px;
    background-image: radial-gradient(#fff 56%, transparent 65%),
      conic-gradient(#333 0% 90%, #fff 90% 100%);
    border-radius: 50%;
    animation: 2s linear infinite rotation1;
  }
  .snsIconOpen {
    display: flex !important;
    flex-direction: column;
  }
  #sns p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 34px;
    letter-spacing: 2px;
  }
  #sns p::before {
    content: '     ';
    width: 6.5rem;
    border: 0.5px solid #333;
    margin: 0 1.5rem 0 0;
  }
  #sns p::after {
    content: '     ';
    width: 6.5rem;
    border: 0.5px solid #333;
    margin: 0 0 0 1.5rem;
  }
  .iconsize {
    width: 55px;
    height: 55px;
  }
  .githubIcon {
    padding: 10px;
    width: 35px;
    height: 35px;
  }
  .snsInner {
    width: 24rem;
    justify-content: center;
  }
  .snsContener {
    position: relative;
  }
  .snsContener img:nth-child(2) {
    top: 0;
  }
}
/* 画面幅が540px以下の時 */
@media screen and (max-width: 540px) {
  #main {
    padding-top: calc(90px - 65px);
  }
  #main,
  #about img {
    width: 320px;
  }
  #about img {
    height: 320px;
  }
  #header {
    width: 80px;
    height: 65px;
  }
  #header .title,
  #header .titleEn {
    display: none;
  }
  .inner {
    flex-direction: column;
  }
  .updated_at {
    padding: 0;
  }
  iframe {
    width: 320px;
    height: 180px;
    padding: 0;
  }
  #menu {
    margin: 0 auto;
    align-items: center;
    padding: 0;
  }
  .openMenu {
    top: 65px;
    height: calc(100vh - 65px);
    padding-top: 45px !important;
  }
  .headerOpen {
    width: 100% !important;
  }
  #menu li,
  #sns {
    margin-left: 58px;
  }
  #menu li :first-child() {
    margin-top: 45px;
  }
  #sns {
    padding: 0;
  }
}
